.ios, .md {
page-comments {

}
.main-content {
    background-color:  #737373;
    box-shadow: 0px -1px 13px 1px rgba(0,0,0,0.3);
}

.item-profile {
  height: 40px;
  .item-avatar > img:first-child {
    max-width: 20px;
    max-height: 20px;
  }
}
.platform-ios .fixed-div {
  right: 0;
    bottom: 0;
    margin-bottom: 42px;
}

.platform-android .fixed-div {
  right: 0;
    bottom: 0;
    margin-bottom: 56px;
}

.platform-windows .fixed-div {
  right: 0;
    bottom: 0;
}

.card {
  top: -40px;
}

ion-content {
    background-color: #ffffff;
    width: 100%;
    margin: 0;
    margin-bottom: 25px;
    position: relative;
    //top: -30px;
}
ion-card-content{
  background: #fff;
}

ion-item {
  background-color: #ffffff;
}
}
