page-login {

      .login-box {
        background: #399F8B;
        padding: 20px 20px 0px 20px;
        margin-top: 30px;
      }

      .signup-col {
             margin: 0px 16px 0px 16px;
             padding-bottom: 20px;
           }

      .submit-btn {
       background: #51CFB1;
       border-radius: 30px !important;
       border: 1px solid #ffffff;
     }
     
}
